<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {%load staticfiles%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <title>Custom Delay</title>
  </head>
  <body>
    <div class="container" >
        <div class="row">
          <div class="col-sm-8">
              <p>TRAINSIM ADMIN</p>
              <h3 style="color:white"><B>STATUS : {{station}}</B></h3><br>
              <form action="{%url 'station_status'%}" method='post'>
              {%csrf_token%}
                <select id="Station" class="form-control" name="Station">
                <option selected>{{station}}</option>
                {%for each in statlist%}
                <option>{{each}}</option> {%endfor%}
                </select>
                <br><button type="submit" class="btn btn-primary">Submit</button>
        </form>

          </div>
          <div class="col-sm-4" style="text-align: right;">
              <p><a href="{%url 'welcome_logged_in'%}" style="color:white">Go Back to Menu</p></a>
              <br>
              <h6>SYSTEM TIME: {{timenow}}</h6>
                      <form action="{%url 'station_status'%}" method="post">
            {%csrf_token%}

          </div>
        </div>
    </div>
    <br>
    <div class="container">
          <table style="width:100%;background-color:rgba(255,255,255,0.3);border-radius:15px" >
        <tr>
          {%for stat in statlist1%}
          <td style="text-align:center">{{stat}}</td>
          {%endfor%}
        </tr>
      </table>
<br><br>
      <table style="width:100%">
        <tr>
          <th>Route No.</th>
          <th>Current Location</th>
          <th>Next Station</th>
        </tr>
        {%for each in trains%}
        <tr>
          <td>{{each.0}}</td>
          <td>{{each.2}} km from {{each.1}}</td>
          <td>{{each.3}}</td>
        </tr>
        {%endfor%}
      </table>
    </div>
    </body>
</html>
